:root {
      --desktop-margin: 0em;
      --font-size: 85%;
}

/* Desktop variable values */
@media screen and (min-width: 600px) { 
      :root {
            --desktop-margin: 1em;
            --font-size: 100%;
      }
}

* {
      font-family: 'Roboto'; 
      /*Titles use 'Fascinate Inline'*/
      font-size: var(--font-size);
}

.brand-logo {
      font-family: 'Fascinate Inline';
}

.flow-text span {
      font-family: 'Fascinate Inline';
}

.game p {
      text-align: center;
      font-family: 'Fascinate Inline';
      font-size: 4.5em;
      letter-spacing: 0.3em;
      word-spacing: 0.6em;
      word-wrap: normal;
}

#easy p {
      text-align: center;
      font-family: 'Fascinate Inline';
      font-size: 4.5em;
      letter-spacing: 0.3em;
      word-spacing: 0.6em;
      word-wrap: normal;
}

#medium p {
      text-align: center;
      font-family: 'Fascinate Inline';
      font-size: 4.5em;
      letter-spacing: 0.3em;
      word-spacing: 0.6em;
      word-wrap: normal;
}

#hard p {
      text-align: center;
      font-family: 'Fascinate Inline';
      font-size: 4.5em;
      letter-spacing: 0.3em;
      word-spacing: 0.6em;
      word-wrap: normal;
}

.wrapper {
      align-items: center;
      justify-content: center;
      padding-bottom: 20px;
      display: flex;
}

.col {
      margin-bottom: 1.5em;
      margin-right: var(--desktop-margin);
      margin-left: var(--desktop-margin);
}

.flow-text {
      line-height: 25%;
}

.score {
      line-height: 15%;
}